<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<div class="contenedor">
			<%- include('./partials/header.ejs') %> <%- include('./sections/paralax.ejs') %>
			<div class="informacion" id="information">
				<div class="informacion__parrafos">
					<%- include('./sections/about.ejs') %> <%- include('./sections/personal.ejs') %> <%-
					include('./sections/professional.ejs') %>
				</div>
			</div>
			<%- include('./sections/skills.ejs') %> <%- include('./sections/contact.ejs') %> <%- include('partials/footer.ejs') %>
		</div>
		<%- include('partials/files-js.ejs') %>
	</body>
</html>
